<div class="p-4 p-md-5 mb-4 rounded" style="height: 100vh;">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src=<%=theme.avatars%> alt="" style="width: 200px;height: 200px;">
        <div class="display-5 fw-bold">
            <div class="wrapper">
                <div class="typing-demo">
                    <%=theme.typewriter%>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                <%=theme.famousSaying%>
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" id="linkshear">
                <img src=<%=theme.svg.github%> alt="">
                <img src=<%=theme.svg.twitter%> alt="">
                <img src=<%=theme.svg.display%> alt="">
            </div>
        </div>
        <% if (theme.musicredio) { %>
            <div id="aplayer"></div>
            <%} %>
    </div>

    <img id="updown" src="/img/arrow-down.svg" alt="">
</div>
<link rel="stylesheet" href="/css/APlayer.min.css">
<script src="/js/APlayer.min.js"></script>
<script>
    const ap = new APlayer({
        container: document.getElementById('aplayer'),
        theme: '#e9e9e9',
        audio: [{
            name: '晴天',
            artist: '周杰伦',
            url: '/musicimg/周杰伦 - 晴天.flac',
            cover: '/musicimg/T002R300x300M000000MkMni19ClKG_4.webp'
        }]
    });
</script>
<style>
    #updown {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        animation: 1s linear 0s infinite up-0dowm;

    }

    @keyframes up-0dowm {
        from {
            opacity: 1;
            margin-bottom: 20px;
        }

        to {
            opacity: 0;
            margin-bottom: 0;
        }
    }

    .aplayer {
        margin-top: 50px;
    }

    @media (min-width: 768px) {
        .aplayer {
            width: 20%;
            left: 50%;
            transform: translate(-50%);
        }
    }

    @media (max-width: 800px) {
        .aplayer {
            display: none;
        }
    }
</style>