<% if (page.posts.length> 0) { %>
  <div class="pageluist">
    <% page.posts.sort('date', -1).limit(10).each(post=> { %>
      <div class="col-md-6" id="jkld">
        <% if (post.img) {%>
          <img class="bd-placeholder-img" id="bd-placeholder-img" width="100%" height="250" src=<%=post.img%> alt="">
          <% }else{ %>
            <img class="bd-placeholder-img" id="bd-placeholder-img" width="100%" height="250" src=<%=theme.page.img%>
            alt="">
            <% } %>
              <a href="<%=url_for(post.path)%>" class="imghover">

                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
                  <div class="col-auto d-none d-lg-block">
                    <% if (post.img) {%>
                      <img class="bd-placeholder-img"  width="300" height="250" src=<%=post.img%> alt="">
                      <% }else{ %>
                        <img class="bd-placeholder-img"  width="300" height="250" src=<%=theme.page.img%> alt="">
                        <% } %>
                  </div>
                  <div class="col p-4 d-flex flex-column position-static " style="border: 1px solid rgba(0, 0, 0, 0.175);">

                    <h3 class="mb-0">
                      <%=post.title%>
                    </h3>
                    <div class="mb-1 text-muted">
                      <% if (post.label=="" ) {%>
                          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                          </svg>
                          <%=theme.page.label%>
                          <%}else{%>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                              <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                            </svg>
                            <%=post.label%>
                              <% } %>
                    </div>
                    <p class="card-text mb-auto">
                      <% if (post.intro=="" ) {%>
                        <%=theme.page.intro%>
                          <%}else{%>
                            <%=post.intro%>
                              <% } %>
                              <!-- <div class="post-content">
                                <%- post.content %>
                            </div> -->
                    </p>
                    <tim e datetime="<%=post.date.toJSON()%>" class="stretched-link">
                      <div class="datesty">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg>
                        <%=date(post.date)%>
                      </div>
                      <button class="learn-more">
                        <span class="circle" aria-hidden="true">

                        </span>
                        <span class="button-text">阅读更多 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                          </svg> </span>
                      </button>
                    </tim>
                  </div>

                </div>
              </a>
      </div>
      <% }); %>
  </div>
  <% } %>
